@mixin navLink-hover($line-width) {
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background: white;
    top: 120%;
    width: $line-width;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.25s;
  }

  &:hover::after {
    opacity: 1;
    cursor: pointer;
  }
}

@mixin respond-phone {
  @media (max-width: 25rem) {
    @content;
  }
}
